In [1]:
import pandas as pd

In [2]:
# Importing csv from Google Drive
url = 'https://drive.google.com/file/d/1U_5-pMT0urZkUJ7HSG4dNZvNPeca5eWh/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id=' + url.split('/')[-2]
reviews_dict = pd.read_csv(path)
reviews_dict

         Field  Description
0   listing_id   Listing ID
1    review_id    Review ID
2         date  Review date
3  reviewer_id  Reviewer ID

In [3]:
url2 = 'https://drive.google.com/file/d/12X_wTH76q9Dx1s4y5RZ9QW3Wfdnpe9DZ/view?usp=sharing'
path2 = 'https://drive.google.com/uc?export=download&id=' + url2.split('/')[-2]
listings_dict = pd.read_csv(path2)
listings_dict

,Field,Description
0,listing_id,Listing ID
1,name,Listing Name
2,host_id,Host ID
3,host_since,Date the Host joined Airbnb
4,host_location,Location where the Host is based
5,host_response_time,Estimate of how long the Host takes to respond
6,host_response_rate,Percentage of times the Host responds
7,host_acceptance_rate,Percentage of times the Host accepts a booking...
8,host_is_superhost,Binary field to determine if the Host is a Sup...
9,host_total_listings_count,Total listings the Host has in Airbnb
10,host_has_profile_pic,Binary field to determine if the Host has a pr...
11,host_identity_verified,Binary field to determine if the Host has a ve...
12,neighbourhood,Neighborhood the Listing is in
13,district,District the Listing is in
14,city,City the Listing is in
15,latitude,Listing's latitude
16,longitude,Listing's longitude
17,property_type,Type of property for the Listing
18,room_type,Type of room type in Airbnb for the Listing
19,accommodates,Guests the Listing accomodates
20,bedrooms,Bedrooms in the Listing
21,amenities,Amenities the Listing includes
22,price,Listing price (in each country's currency)
23,minimum_nights,Minimum nights per booking
24,maximum_nights,Maximum nights per booking
25,review_scores_rating,Listing's overall rating (out of 100)
26,review_scores_accuracy,Listing's accuracy score based on what's promo...
27,review_scores_cleanliness,Listing's cleanliness score (out of 10)
28,review_scores_checkin,Listing's check-in experience score (out of 10)
29,review_scores_communication,Listing's communication with the Host score (o...
30,review_scores_location,Listing's location score within the city (out ...
31,review_scores_value,Listing's value score relative to its price (o...
32,instant_bookable,Binary field to determine if the Listing can b...

In [4]:
listings_df = pd.read_csv('Listings.csv', encoding = "ISO-8859-1", dtype={'host_response_time': 'str', 'district': 'str'})
listings_df
# had issues with importing 2 columns because of the amount of nan values
# decided i'm gonna import all

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279707,38338635,Appartement T2 neuf prÃÂ¨s du tram T3a Porte ...,31161181,2015-04-13,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,1,7,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279708,38538692,Cozy Studio in Montmartre,10294858,2013-11-27,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,7,15,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279709,38683356,Nice and cosy mini-appartement in Paris,2238502,2012-04-27,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,6,30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279710,39659000,Charming apartment near Rue Saint Maur / Oberk...,38633695,2015-07-16,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,3,18,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279711,40219504,Cosy apartment with view on Canal St Martin,6955618,2013-06-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,4,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [5]:
listings_df.iloc[:, [5]].value_counts(dropna= False, normalize=True)

host_response_time
NaN                   0.460409
within an hour        0.298393
within a few hours    0.103288
within a day          0.083747
a few days or more    0.054163
dtype: float64

In [6]:
# drop response time column because close to 50% of values are nan

In [7]:
listings_subset = listings_df.copy()
listings_subset.drop(columns='host_response_time', inplace=True)
listings_subset

,listing_id,name,host_id,host_since,host_location,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,f,1.0,t,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,f,1.0,t,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,f,1.0,t,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,f,1.0,t,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,f,1.0,t,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279707,38338635,Appartement T2 neuf prÃÂ¨s du tram T3a Porte ...,31161181,2015-04-13,"Paris, Ile-de-France, France",NaN,NaN,f,1.0,t,...,1,7,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279708,38538692,Cozy Studio in Montmartre,10294858,2013-11-27,"Paris, Ile-de-France, France",NaN,NaN,f,1.0,t,...,7,15,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279709,38683356,Nice and cosy mini-appartement in Paris,2238502,2012-04-27,"Paris, Ile-de-France, France",NaN,NaN,f,1.0,t,...,6,30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279710,39659000,Charming apartment near Rue Saint Maur / Oberk...,38633695,2015-07-16,"Paris, Ile-de-France, France",NaN,NaN,f,1.0,t,...,3,18,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279711,40219504,Cosy apartment with view on Canal St Martin,6955618,2013-06-17,"Paris, Ile-de-France, France",NaN,NaN,f,1.0,t,...,2,4,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [8]:
listings_subset.columns

Index(['listing_id', 'name', 'host_id', 'host_since', 'host_location',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_total_listings_count', 'host_has_profile_pic',
       'host_identity_verified', 'neighbourhood', 'district', 'city',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bedrooms', 'amenities', 'price', 'minimum_nights', 'maximum_nights',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable'],
      dtype='object')

In [9]:
listings_subset.loc[:, 'host_location'].value_counts()
# we could parse out the country from host location

Paris, Ile-de-France, France                           47794
New York, New York, United States                      24040
Rome, Lazio, Italy                                     20138
Cape Town, Western Cape, South Africa                  13602
Rio de Janeiro, State of Rio de Janeiro, Brazil        13211
                                                       ...
Niort, Poitou-Charentes, France                            1
Gloversville, New York, United States                      1
Rangsit, Pathum Thani, Thailand                            1
Ozumba de Alzate, Estado de Mexico, Mexico                 1
BrasÃÂ­lia de Minas, State of Minas Gerais, Brazil        1
Name: host_location, Length: 7159, dtype: int64

In [10]:
listings_subset.loc[:, 'city'].value_counts(dropna=False)
# city accounted for in all rows. no nans

Paris             64690
New York          37012
Sydney            33630
Rome              27647
Rio de Janeiro    26615
Istanbul          24519
Mexico City       20065
Bangkok           19361
Cape Town         19086
Hong Kong          7087
Name: city, dtype: int64

In [11]:
# curious to know how host location is formatted

In [12]:
listings_subset.loc[:, 'district'].value_counts().index
# using calculator, discovered only NY city has district included. we can create a filter to confirm this

Index(['Manhattan', 'Brooklyn', 'Queens', 'Bronx', 'Staten Island'], dtype='object')

In [13]:
filt = (listings_subset['city'] != 'New York') & (listings_subset['district'].notna())
listings_subset.loc[filt,:]
# confirmed

Empty DataFrame
Columns: [listing_id, name, host_id, host_since, host_location, host_response_rate, host_acceptance_rate, host_is_superhost, host_total_listings_count, host_has_profile_pic, host_identity_verified, neighbourhood, district, city, latitude, longitude, property_type, room_type, accommodates, bedrooms, amenities, price, minimum_nights, maximum_nights, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, instant_bookable]
Index: []

[0 rows x 32 columns]

In [14]:
# i can save all city locations into a list and work with them later

# for i in listings_subset.loc[:, 'district'].value_counts().index:
#     print(i)

In [15]:
listings_subset['neighbourhood'].value_counts()
# not getting much from neighbourhood but can be useful during prediction, as includes a lot of variety

I Centro Storico     14874
Sydney                8074
Copacabana            7712
Cuauhtemoc            7626
Buttes-Montmartre     7237
                     ...
Lighthouse Hill          1
Willowbrook              1
Magalhaes Bastos         1
Woodrow                  1
Agua Santa               1
Name: neighbourhood, Length: 660, dtype: int64

In [16]:
listings_subset['neighbourhood'].isna().sum()
# all neighbourhoods accounted for in rows. which is good for machine learning

0

In [17]:
# filter out NY and work with it as a start
ny_subset = listings_subset.copy()
filt = ny_subset['district'].isna()
index_filter = ny_subset[ny_subset['district'].isna()]
ny_subset.drop(index=index_filter.index, inplace=True)

In [18]:
ny_subset.iloc[2,:]
# Interesting. Host can be located in france but property is not in france. 
# host location isnt a good indication of property location

listing_id                                                               4259427
name                                         Appartement en duplex de 3 chambres
host_id                                                                 21833312
host_since                                                            2014-09-27
host_location                                       Paris, Ile-de-France, France
host_response_rate                                                           NaN
host_acceptance_rate                                                         NaN
host_is_superhost                                                              f
host_total_listings_count                                                    1.0
host_has_profile_pic                                                           t
host_identity_verified                                                         t
neighbourhood                                                      Crown Heights
district                                                                Brooklyn
city                                                                    New York
latitude                                                                40.67027
longitude                                                              -73.94033
property_type                                                   Entire apartment
room_type                                                           Entire place
accommodates                                                                   6
bedrooms                                                                     3.0
amenities                      ["Refrigerator", "Microwave", "Shampoo", "Air ...
price                                                                        220
minimum_nights                                                                 6
maximum_nights                                                              1125
review_scores_rating                                                        87.0
review_scores_accuracy                                                       9.0
review_scores_cleanliness                                                    8.0
review_scores_checkin                                                       10.0
review_scores_communication                                                 10.0
review_scores_location                                                       8.0
review_scores_value                                                          8.0
instant_bookable                                                               f
Name: 9222, dtype: object

In [19]:
# check percentage of nulls in each column
ny_subset.isnull().sum() * 100 / len(ny_subset)

listing_id                      0.000000
name                            0.035124
host_id                         0.000000
host_since                      0.048633
host_location                   0.313412
host_response_rate             50.002702
host_acceptance_rate           39.535826
host_is_superhost               0.048633
host_total_listings_count       0.048633
host_has_profile_pic            0.048633
host_identity_verified          0.048633
neighbourhood                   0.000000
district                        0.000000
city                            0.000000
latitude                        0.000000
longitude                       0.000000
property_type                   0.000000
room_type                       0.000000
accommodates                    0.000000
bedrooms                        9.748190
amenities                       0.000000
price                           0.000000
minimum_nights                  0.000000
maximum_nights                  0.000000
review_scores_rating           27.653194
review_scores_accuracy         27.718037
review_scores_cleanliness      27.688317
review_scores_checkin          27.750459
review_scores_communication    27.712634
review_scores_location         27.753161
review_scores_value            27.753161
instant_bookable                0.000000
dtype: float64

In [20]:
# decently clean dataset
# columns to drop: 
# name cos it's not in one lang,host_response_rate, 
# host_acceptance_rate, host_is_superhost, host_total_listings_count,
# host_has_profile_pic, host_identity_verified
# minimum nights, maximum nights

In [21]:
ny_dropped = ny_subset.copy()
ny_dropped.drop(columns=[
    'name', 'host_response_rate', 'host_acceptance_rate', 
    'host_is_superhost', 'host_total_listings_count', 'host_has_profile_pic', 
    'host_identity_verified', 'minimum_nights', 'maximum_nights'], inplace=True)

In [22]:
ny_dropped.columns

Index(['listing_id', 'host_id', 'host_since', 'host_location', 'neighbourhood',
       'district', 'city', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bedrooms', 'amenities', 'price',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable'],
      dtype='object')

In [23]:
ny_dropped[ny_dropped['bedrooms'].isna()]
# figure out to deal with nans in bedroom

,listing_id,host_id,host_since,host_location,neighbourhood,district,city,latitude,longitude,property_type,...,amenities,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
9221,4173751,9197440,2013-10-02,"Paris, Ile-de-France, France",Harlem,Manhattan,New York,40.81619,-73.94003,Entire apartment,...,"[""Essentials"", ""Wifi"", ""Heating"", ""Long term s...",99,90.0,10.0,9.0,10.0,10.0,9.0,9.0,f
9224,5286096,3866196,2012-10-14,"Paris, Ile-de-France, France",Midtown,Manhattan,New York,40.74610,-73.98632,Entire apartment,...,"[""Smoke alarm"", ""Washer"", ""Dryer"", ""Wifi"", ""He...",300,93.0,9.0,9.0,9.0,10.0,9.0,9.0,f
9230,14218173,3664605,2012-09-24,"Paris, Ile-de-France, France",Upper West Side,Manhattan,New York,40.78528,-73.97759,Entire apartment,...,"[""Smoke alarm"", ""Essentials"", ""Hangers"", ""Wifi...",150,100.0,9.0,9.0,10.0,10.0,10.0,9.0,t
9241,35001175,86982839,2016-07-31,"Paris, Ile-de-France, France",Chinatown,Manhattan,New York,40.71502,-73.99224,Entire apartment,...,"[""Refrigerator"", ""Shampoo"", ""Air conditioning""...",130,95.0,10.0,10.0,8.0,10.0,10.0,10.0,t
11621,2730497,13974214,2014-04-06,"New York, New York, United States",Bedford-Stuyvesant,Brooklyn,New York,40.68058,-73.93856,Entire apartment,...,"[""Refrigerator"", ""Microwave"", ""Pack \u2019n Pl...",135,97.0,10.0,10.0,10.0,10.0,10.0,10.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266970,46770163,104725530,2016-11-22,"New York, New York, United States",West Village,Manhattan,New York,40.73268,-74.00430,Entire apartment,...,"[""Hair dryer"", ""Smoke alarm"", ""Hangers"", ""Esse...",78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
266971,46826044,108160091,2016-12-22,"New York, New York, United States",Chelsea,Manhattan,New York,40.73761,-73.99686,Entire apartment,...,"[""Lockbox"", ""Hair dryer"", ""Iron"", ""Hangers"", ""...",110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
266972,47363022,247649713,2019-03-08,US,Midtown,Manhattan,New York,40.75034,-73.97041,Entire apartment,...,"[""Hangers"", ""Essentials"", ""Washer"", ""TV"", ""Ded...",75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
266973,47421273,3850747,2012-10-12,"New York, New York, United States",Williamsburg,Brooklyn,New York,40.71887,-73.96495,Entire apartment,...,"[""Iron"", ""Essentials"", ""Gym"", ""Washer"", ""Dedic...",180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
266974,47939451,350991731,2020-06-20,"Oyster Bay, New York, United States",Woodside,Queens,New York,40.74214,-73.90346,Entire apartment,...,"[""Smoke alarm"", ""Essentials"", ""Washer"", ""TV"", ...",40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t

In [24]:
# take a look at amenities
# import reviews later
# plot lat and long to see distribution 
# next thing to do might be to start visualising
# map binary responses to T = 1 and F= 0
# check binary responses 
# correlation matrix to determine witth columns to drop in pediction. ideally should do pca
# lok at bedrooms missing values and decide what to do with them

In [25]:
listings_dict
# seems price is not standardized per city
# i doubt that all of these reviews are useful eg review_scores_checkin, review_scores_location

,Field,Description
0,listing_id,Listing ID
1,name,Listing Name
2,host_id,Host ID
3,host_since,Date the Host joined Airbnb
4,host_location,Location where the Host is based
5,host_response_time,Estimate of how long the Host takes to respond
6,host_response_rate,Percentage of times the Host responds
7,host_acceptance_rate,Percentage of times the Host accepts a booking...
8,host_is_superhost,Binary field to determine if the Host is a Sup...
9,host_total_listings_count,Total listings the Host has in Airbnb
10,host_has_profile_pic,Binary field to determine if the Host has a pr...
11,host_identity_verified,Binary field to determine if the Host has a ve...
12,neighbourhood,Neighborhood the Listing is in
13,district,District the Listing is in
14,city,City the Listing is in
15,latitude,Listing's latitude
16,longitude,Listing's longitude
17,property_type,Type of property for the Listing
18,room_type,Type of room type in Airbnb for the Listing
19,accommodates,Guests the Listing accomodates
20,bedrooms,Bedrooms in the Listing
21,amenities,Amenities the Listing includes
22,price,Listing price (in each country's currency)
23,minimum_nights,Minimum nights per booking
24,maximum_nights,Maximum nights per booking
25,review_scores_rating,Listing's overall rating (out of 100)
26,review_scores_accuracy,Listing's accuracy score based on what's promo...
27,review_scores_cleanliness,Listing's cleanliness score (out of 10)
28,review_scores_checkin,Listing's check-in experience score (out of 10)
29,review_scores_communication,Listing's communication with the Host score (o...
30,review_scores_location,Listing's location score within the city (out ...
31,review_scores_value,Listing's value score relative to its price (o...
32,instant_bookable,Binary field to determine if the Listing can b...

In [26]:
# let's tackle amenities column

In [27]:
amenities = ny_dropped['amenities']
amenities

9220      ["Smoke alarm", "Essentials", "Washer", "Dryer...
9221      ["Essentials", "Wifi", "Heating", "Long term s...
9222      ["Refrigerator", "Microwave", "Shampoo", "Air ...
9223      ["Smoke alarm", "Essentials", "Wifi", "Heating...
9224      ["Smoke alarm", "Washer", "Dryer", "Wifi", "He...
                                ...
268684    ["Hair dryer", "Iron", "Essentials", "Hangers"...
268685    ["First aid kit", "Hair dryer", "Iron", "Hange...
268686    ["First aid kit", "Free parking on premises", ...
268687    ["Refrigerator", "Microwave", "Shampoo", "Air ...
273167    ["Hair dryer", "Bed linens", "Smoke alarm", "H...
Name: amenities, Length: 37012, dtype: object

In [28]:
amenities.reset_index(drop=True, inplace=True)
amenities

0        ["Smoke alarm", "Essentials", "Washer", "Dryer...
1        ["Essentials", "Wifi", "Heating", "Long term s...
2        ["Refrigerator", "Microwave", "Shampoo", "Air ...
3        ["Smoke alarm", "Essentials", "Wifi", "Heating...
4        ["Smoke alarm", "Washer", "Dryer", "Wifi", "He...
                               ...
37007    ["Hair dryer", "Iron", "Essentials", "Hangers"...
37008    ["First aid kit", "Hair dryer", "Iron", "Hange...
37009    ["First aid kit", "Free parking on premises", ...
37010    ["Refrigerator", "Microwave", "Shampoo", "Air ...
37011    ["Hair dryer", "Bed linens", "Smoke alarm", "H...
Name: amenities, Length: 37012, dtype: object

In [220]:
amenities_df = amenities.copy()
amenities_df = amenities_df.to_frame(name='string_type')
amenities_df

                                             string_type
0      ["Smoke alarm", "Essentials", "Washer", "Dryer...
1      ["Essentials", "Wifi", "Heating", "Long term s...
2      ["Refrigerator", "Microwave", "Shampoo", "Air ...
3      ["Smoke alarm", "Essentials", "Wifi", "Heating...
4      ["Smoke alarm", "Washer", "Dryer", "Wifi", "He...
...                                                  ...
37007  ["Hair dryer", "Iron", "Essentials", "Hangers"...
37008  ["First aid kit", "Hair dryer", "Iron", "Hange...
37009  ["First aid kit", "Free parking on premises", ...
37010  ["Refrigerator", "Microwave", "Shampoo", "Air ...
37011  ["Hair dryer", "Bed linens", "Smoke alarm", "H...

[37012 rows x 1 columns]

In [ ]:
# using strip and split method

In [222]:
amenities_df['removed_brackets'] = amenities_df['string_type'].apply(lambda x: x.strip('[').strip(']'))
amenities_df

,string_type,removed_brackets
0,"[""Smoke alarm"", ""Essentials"", ""Washer"", ""Dryer...","""Smoke alarm"", ""Essentials"", ""Washer"", ""Dryer""..."
1,"[""Essentials"", ""Wifi"", ""Heating"", ""Long term s...","""Essentials"", ""Wifi"", ""Heating"", ""Long term st..."
2,"[""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air ...","""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air c..."
3,"[""Smoke alarm"", ""Essentials"", ""Wifi"", ""Heating...","""Smoke alarm"", ""Essentials"", ""Wifi"", ""Heating""..."
4,"[""Smoke alarm"", ""Washer"", ""Dryer"", ""Wifi"", ""He...","""Smoke alarm"", ""Washer"", ""Dryer"", ""Wifi"", ""Hea..."
...,...,...
37007,"[""Hair dryer"", ""Iron"", ""Essentials"", ""Hangers""...","""Hair dryer"", ""Iron"", ""Essentials"", ""Hangers"",..."
37008,"[""First aid kit"", ""Hair dryer"", ""Iron"", ""Hange...","""First aid kit"", ""Hair dryer"", ""Iron"", ""Hanger..."
37009,"[""First aid kit"", ""Free parking on premises"", ...","""First aid kit"", ""Free parking on premises"", ""..."
37010,"[""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air ...","""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air c..."
37011,"[""Hair dryer"", ""Bed linens"", ""Smoke alarm"", ""H...","""Hair dryer"", ""Bed linens"", ""Smoke alarm"", ""Ha..."

In [227]:
amenities_df['removed_quotations'] = amenities_df['removed_brackets'].apply(lambda x: x.replace('"', ''))
amenities_df

,string_type,removed_brackets,removed_quotations
0,"[""Smoke alarm"", ""Essentials"", ""Washer"", ""Dryer...","""Smoke alarm"", ""Essentials"", ""Washer"", ""Dryer""...","Smoke alarm, Essentials, Washer, Dryer, Wifi, ..."
1,"[""Essentials"", ""Wifi"", ""Heating"", ""Long term s...","""Essentials"", ""Wifi"", ""Heating"", ""Long term st...","Essentials, Wifi, Heating, Long term stays all..."
2,"[""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air ...","""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air c...","Refrigerator, Microwave, Shampoo, Air conditio..."
3,"[""Smoke alarm"", ""Essentials"", ""Wifi"", ""Heating...","""Smoke alarm"", ""Essentials"", ""Wifi"", ""Heating""...","Smoke alarm, Essentials, Wifi, Heating, Air co..."
4,"[""Smoke alarm"", ""Washer"", ""Dryer"", ""Wifi"", ""He...","""Smoke alarm"", ""Washer"", ""Dryer"", ""Wifi"", ""Hea...","Smoke alarm, Washer, Dryer, Wifi, Heating, Ele..."
...,...,...,...
37007,"[""Hair dryer"", ""Iron"", ""Essentials"", ""Hangers""...","""Hair dryer"", ""Iron"", ""Essentials"", ""Hangers"",...","Hair dryer, Iron, Essentials, Hangers, Washer,..."
37008,"[""First aid kit"", ""Hair dryer"", ""Iron"", ""Hange...","""First aid kit"", ""Hair dryer"", ""Iron"", ""Hanger...","First aid kit, Hair dryer, Iron, Hangers, Esse..."
37009,"[""First aid kit"", ""Free parking on premises"", ...","""First aid kit"", ""Free parking on premises"", ""...","First aid kit, Free parking on premises, Hair ..."
37010,"[""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air ...","""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air c...","Refrigerator, Microwave, Shampoo, Air conditio..."
37011,"[""Hair dryer"", ""Bed linens"", ""Smoke alarm"", ""H...","""Hair dryer"", ""Bed linens"", ""Smoke alarm"", ""Ha...","Hair dryer, Bed linens, Smoke alarm, Hangers, ..."

In [231]:
amenities_df['cleaned'] = amenities_df['removed_quotations'].apply(lambda x: x.split(', '))
amenities_df

,string_type,removed_brackets,removed_quotations,cleaned
0,"[""Smoke alarm"", ""Essentials"", ""Washer"", ""Dryer...","""Smoke alarm"", ""Essentials"", ""Washer"", ""Dryer""...","Smoke alarm, Essentials, Washer, Dryer, Wifi, ...","[Smoke alarm, Essentials, Washer, Dryer, Wifi,..."
1,"[""Essentials"", ""Wifi"", ""Heating"", ""Long term s...","""Essentials"", ""Wifi"", ""Heating"", ""Long term st...","Essentials, Wifi, Heating, Long term stays all...","[Essentials, Wifi, Heating, Long term stays al..."
2,"[""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air ...","""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air c...","Refrigerator, Microwave, Shampoo, Air conditio...","[Refrigerator, Microwave, Shampoo, Air conditi..."
3,"[""Smoke alarm"", ""Essentials"", ""Wifi"", ""Heating...","""Smoke alarm"", ""Essentials"", ""Wifi"", ""Heating""...","Smoke alarm, Essentials, Wifi, Heating, Air co...","[Smoke alarm, Essentials, Wifi, Heating, Air c..."
4,"[""Smoke alarm"", ""Washer"", ""Dryer"", ""Wifi"", ""He...","""Smoke alarm"", ""Washer"", ""Dryer"", ""Wifi"", ""Hea...","Smoke alarm, Washer, Dryer, Wifi, Heating, Ele...","[Smoke alarm, Washer, Dryer, Wifi, Heating, El..."
...,...,...,...,...
37007,"[""Hair dryer"", ""Iron"", ""Essentials"", ""Hangers""...","""Hair dryer"", ""Iron"", ""Essentials"", ""Hangers"",...","Hair dryer, Iron, Essentials, Hangers, Washer,...","[Hair dryer, Iron, Essentials, Hangers, Washer..."
37008,"[""First aid kit"", ""Hair dryer"", ""Iron"", ""Hange...","""First aid kit"", ""Hair dryer"", ""Iron"", ""Hanger...","First aid kit, Hair dryer, Iron, Hangers, Esse...","[First aid kit, Hair dryer, Iron, Hangers, Ess..."
37009,"[""First aid kit"", ""Free parking on premises"", ...","""First aid kit"", ""Free parking on premises"", ""...","First aid kit, Free parking on premises, Hair ...","[First aid kit, Free parking on premises, Hair..."
37010,"[""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air ...","""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air c...","Refrigerator, Microwave, Shampoo, Air conditio...","[Refrigerator, Microwave, Shampoo, Air conditi..."
37011,"[""Hair dryer"", ""Bed linens"", ""Smoke alarm"", ""H...","""Hair dryer"", ""Bed linens"", ""Smoke alarm"", ""Ha...","Hair dryer, Bed linens, Smoke alarm, Hangers, ...","[Hair dryer, Bed linens, Smoke alarm, Hangers,..."

In [234]:
amenities_df.drop(columns= ['string_type', 'removed_brackets', 'removed_quotations'], inplace=True)
amenities_df

                                                 cleaned
0      [Smoke alarm, Essentials, Washer, Dryer, Wifi,...
1      [Essentials, Wifi, Heating, Long term stays al...
2      [Refrigerator, Microwave, Shampoo, Air conditi...
3      [Smoke alarm, Essentials, Wifi, Heating, Air c...
4      [Smoke alarm, Washer, Dryer, Wifi, Heating, El...
...                                                  ...
37007  [Hair dryer, Iron, Essentials, Hangers, Washer...
37008  [First aid kit, Hair dryer, Iron, Hangers, Ess...
37009  [First aid kit, Free parking on premises, Hair...
37010  [Refrigerator, Microwave, Shampoo, Air conditi...
37011  [Hair dryer, Bed linens, Smoke alarm, Hangers,...

[37012 rows x 1 columns]

In [ ]:
s = amenities_df['cleaned']
pd.get_dummies(s.apply(pd.Series).stack().sum(level=0))
# get dummies didnt work how I expected it

In [29]:
# trying literal eval

In [30]:
amenities_eval = amenities.copy()
amenities_eval = amenities_eval.to_frame(name='string_type')
amenities_eval

                                             string_type
0      ["Smoke alarm", "Essentials", "Washer", "Dryer...
1      ["Essentials", "Wifi", "Heating", "Long term s...
2      ["Refrigerator", "Microwave", "Shampoo", "Air ...
3      ["Smoke alarm", "Essentials", "Wifi", "Heating...
4      ["Smoke alarm", "Washer", "Dryer", "Wifi", "He...
...                                                  ...
37007  ["Hair dryer", "Iron", "Essentials", "Hangers"...
37008  ["First aid kit", "Hair dryer", "Iron", "Hange...
37009  ["First aid kit", "Free parking on premises", ...
37010  ["Refrigerator", "Microwave", "Shampoo", "Air ...
37011  ["Hair dryer", "Bed linens", "Smoke alarm", "H...

[37012 rows x 1 columns]

In [31]:
import ast

amenities_eval['list_type'] = amenities_eval['string_type'].apply(lambda x: ast.literal_eval(x))
amenities_eval

,string_type,list_type
0,"[""Smoke alarm"", ""Essentials"", ""Washer"", ""Dryer...","[Smoke alarm, Essentials, Washer, Dryer, Wifi,..."
1,"[""Essentials"", ""Wifi"", ""Heating"", ""Long term s...","[Essentials, Wifi, Heating, Long term stays al..."
2,"[""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air ...","[Refrigerator, Microwave, Shampoo, Air conditi..."
3,"[""Smoke alarm"", ""Essentials"", ""Wifi"", ""Heating...","[Smoke alarm, Essentials, Wifi, Heating, Air c..."
4,"[""Smoke alarm"", ""Washer"", ""Dryer"", ""Wifi"", ""He...","[Smoke alarm, Washer, Dryer, Wifi, Heating, El..."
...,...,...
37007,"[""Hair dryer"", ""Iron"", ""Essentials"", ""Hangers""...","[Hair dryer, Iron, Essentials, Hangers, Washer..."
37008,"[""First aid kit"", ""Hair dryer"", ""Iron"", ""Hange...","[First aid kit, Hair dryer, Iron, Hangers, Ess..."
37009,"[""First aid kit"", ""Free parking on premises"", ...","[First aid kit, Free parking on premises, Hair..."
37010,"[""Refrigerator"", ""Microwave"", ""Shampoo"", ""Air ...","[Refrigerator, Microwave, Shampoo, Air conditi..."
37011,"[""Hair dryer"", ""Bed linens"", ""Smoke alarm"", ""H...","[Hair dryer, Bed linens, Smoke alarm, Hangers,..."

In [35]:
pd.get_dummies(amenities_eval['list_type'].apply(pd.Series).stack()).sum(level=0)
# this one worked

C:\Users\Valore Co\AppData\Local\Temp\ipykernel_14168\1894578559.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.get_dummies(amenities_eval['list_type'].apply(pd.Series).stack()).sum(level=0)
C:\Users\Valore Co\AppData\Local\Temp\ipykernel_14168\1894578559.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  pd.get_dummies(amenities_eval['list_type'].apply(pd.Series).stack()).sum(level=0)

MemoryError: Unable to allocate 4.43 GiB for an array with shape (756941, 786) and data type float64

In [126]:
binary_map = {
    't': 1,
    'f': 0,
}